[Unit]
Description=Wire Spooler Update Service
Wants=network-online.target
Before=wire_spooler.service
After=network-online.target


[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/KotamechWireSpooler/update/update.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
