[Unit]
Description=Wire Spooler Update Service
Before=wire_spooler.service

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/KotamechWireSpooler/update/update.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
