[Unit]
Description=Wire Spooler Update Service
Before=wire_spooler.service

[Service]
Type=oneshot
ExecStart=/home/pi/KotamechWireSpooler/update/update.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
