[Unit]
Description=Wire Spooler
StartLimitInterval=300
StartLimitBurst=20

[Service]
Type=idle
Restart=always
RestartSec=5
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/usr/bin/python3 /home/pi/KotamechWireSpooler/program.py
User=pi

[Install]
WantedBy=multi-user.target
